#code-container
  .container
    h1 link to my github 
      a#to(href="http://www.github.com/elju", target="_blank") is
      |   &#060-- here. For some explanations,
    .hero-unit
      p
        a(href="http://www.github.com/elju/signifier", target="_blank") Signifier
        |  is a 
        a(href="http://www.coffeescript.org", target="_blank") coffeescript
        | , 
        a(href="http://couchdb.apache.org/", target="_blank") couchdb
        | , and 
        a(href="http://nodejs.org/", target="_blank") node.js
        |  application written in the spring of 2012.  It allows users to markup news articles with fact-checking links. Everyone with the extension involved sees these links. If you're interested, you can download the extension 
        a(href="http://goo.gl/pNHio", target="_blank") here
        | . Also, its website is located 
        a(href="http://math.ku.edu/~lunde/sig.html", target="_blank") here
        | , although it's pretty barebones.
  .container
    .soundcloudstuff(style="float:right; width:65%;line-height:0.8;")
      h3(style="line-height:1.0;") Recently, I wrote some python software that will cut up and rearrange .wav files. After 
        a(href="http://www.github.com/jiko", target="_blank", style="display:inline;") my friend 
        |  helped me tweek it, we ended up with this thing:
      iframe(width="100%", height="166", scrolling="no", frameborder="no", src="https://w.soundcloud.com/player/?url=http%3A%2F%2Fapi.soundcloud.com%2Ftracks%2F91395259")
      // a(href='http://www.github.com/elju') github.  Also, here's
      // a(href='http://elju.github.io/signifier') Signifier
      p original song courtesy of Oils™.
    .thisthing(style="display:table;")
      .container-fluid
        .row-fluid
          p(style="display:table-cell; vertical-align:middle; text-align: center;").
            <h3>↑☢↑☢↑☢↑☢↑☢↑☢↑☢↑☢↑☢↑☢</h3>
            ←<h1 style="display:inline;">This site itself uses some CSS3™ transforms and transitions.</h1>→<br>
            ← → ↖ ↗ ↙ ↘↖ ↗ ↙ ↘<br>
            uses some CSS3™ transforms and transitions.
