!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
      // link(rel='stylesheet', href='stylesheets/github.css')
      link(rel='stylesheet', href='css/bootstrap.min.css')
      link(rel='stylesheet', href='css/font-awesome.min.css')
      // link(rel='stylesheet', href='css/font-awesome.min.css')
      // link(rel='stylesheet', href='css/font-awesome-ie7.min.css')
      link(rel='stylesheet', href='blog/_site/css/up.css')
      link(rel='stylesheet', href='stylesheets/lju.css')
      link(rel='shortcut icon', href='images/favicon.ico')
  body
    #ie
      strong SORRY ABOUT THIS, BUT
      p.
        Please come back on some browser other than
        IE. I have nothing against it, but I just can't
        test for it these days on Ubuntu. I'll try to
        get an IE version of the site working once I have
        some time.
    script(src='javascripts/jquery-2.0.0.min.js')
    script(type='text/javascript', src='javascripts/jquery.mousewheel.js')
    script(src='javascripts/main.js')
    script(src='javascripts/main-coffee.js')
    script(src='javascripts/blog.js')
