!!! 5
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      title
        block title
          = locals.name
      link(rel='alternate', href=locals.url+'/feed.xml', type='application/rss+xml', title=locals.description)
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Fredericka+the+Great')
      // link(rel='stylesheet', href='stylesheets/github.css')
      link(rel='stylesheet', href='stylesheets/mobile.css')
      link(rel='shortcut icon', href='images/favicon.ico')
      script(src='javascripts/jquery-2.0.0.min.js')
      script(type='text/javascript', src='javascripts/jquery.mousewheel.js')
      // script(src='javascripts/main.js')
      // script(src='javascripts/main-coffee.js')
      // script(src='javascripts/blog.js')
  body
    #tl(onclick='window.location.href=window.location.href + "/art";')
    #tr(onclick='window.location="http://lju.me/m/blog";')
    #bl(onclick='window.location="http://lju.me/m/other";')
    #br(onclick='window.location="http://lju.me/m/code";')
