#navbar.ljuNavbar
  .paddingStuff
    .container-fluid
      .clearfix
        a#logoAnchor(href="#/")
          span#logo lju
      a.one.art(href="#/art", data-slice="#one")
        h3.art art
      a.two.blog(href="#/blog", data-slice="#two")
        h3.blog blog
      a.three.code(href="#/other", data-slice="#three")
        h3.code about
      a.four.other(href="#/code", data-slice="#four")
        h3.other code
      // .hint
      //  span It's not broken! click on any of the sections to enter
