#navbar.ljuNavbar
  .paddingStuff
    .container-fluid
      .clearfix
        a.logo
          span.logo lju
      a.one.art(data-slice="#one")
        h3.art art
      a.two.blog(data-slice="#two")
        h3.blog blog
      a.three.code(data-slice="#three")
        h3.code resumé
      a.four.other(data-slice="#four")
        h3.other code
      // .hint
      //  span It's not broken! click on any of the sections to enter
