.silenter
  .container-fluid
    .row-fluid
      .span3
        a
          h3#codeHeading code
      .span3
        a
          h3#artHeading art
      .span3
        a
          h3#otherHeading other
      .span3
        a
          h3#blogHeading blog
        span#logo lju

