#others-container
  .container-fluid
    .table
      .subones
        h1#resume Resumé
      .subones
        h2 LUKE UNDERWOOD
    p#languages
      strong Languages:
      |  Javascript, JQuery, Coffeescript, CSS3, HTML5, Python + basic Clojure, Java, and PHP
    p#platforms
      strong Platforms:
      |  Google Chrome Extensions API, Wordpress, Jekyll, Couch DB, Node.js, Bootstrap, Openshift, Heroku, Linux, VIM, and passing familiarity with Backbone, Redis, AWS, and Drupal
    p#networking
      strong Networking:
      |  HTTP, Websockets, DNS
    p#github
      strong Github: 
      a(href="http://www.github.com/elju", target="_blank") github.com/elju
    p#rest
      em Rest of the resumé can be found 
      a(href="docs/Luke Underwood - Resume.doc", target="_blank") here
      em ! 
    // p#silly
    //  strong Random Generated Text: 
    //  | which is defined to be the american mathematical physics background and has non-type i if is a complex hilbert space of an immediate generalization of basic functional on map one can be the a if its use the expected value of these algebras of then this vector uniquely determined by reduction to a is of which is identical to the case we may assume that the natural number of as a a universal that any has an of it is completely determined by reduction to the continuous factors uniquely through it implies that is a of this vector spaces such functions on rings of self-adjoint elements of have a unital subspace of continuity linear defined to speak of sequences of a general harmonic analysis of elements of the form a bounded linear on hilbert space are now an identity the the enveloping of for in a complex algebra given by is also has a is short bounded operators let be a if is a source of finite dimensional of operators on min given a naturally has been replaced by c e rickart in current terminology conflicts with its use the form elements of the given this is a complex hilbert space the norm topology which provides extensive physics background and is used in a is completely determined by reduction to be closed convex cone this is the ordering is sufficient to be easily displayed to commutative let be a naturally has non-type i however if for every other continuous functional calculus or to locally compact as algebras von neumann algebra of the algebra given by the a type ii and quantum mechanics and for and in and for these is a high-quality technical exposition it is rarely used in the measurable quantities of character equipped with are semisimple from north holland press of unitary representations of bounded operators is only if and use for can deduce the expected value of any has a sequential approximate identity in quantum mechanics and only
