#others-container
  .container-fluid
    .table
      .subones
        h1#resume Resumé
      .subones
        h2 LUKE UNDERWOOD
    p#languages
      | Languages -
      |  Javascript, Coffeescript, CSS3, HTML5, Python + basic Clojure, Java, and PHP
    p#platforms
      | Platforms -
      |  JQuery, Google Chrome Extensions API, Wordpress, Jekyll, Couch DB, Node.js, Bootstrap, Openshift, Heroku, Linux, VIM, and passing familiarity with Backbone, Redis, AWS, and Drupal
    p#networking
      | Networking -
      |  HTTP, Websockets, DNS
    p#github
      | Github - 
      a(href="http://www.github.com/elju", target="_blank") github.com/elju
    p#rest
      span.
        Rest of the resumé can be found 
      a(href="docs/Luke Underwood - Resume.doc", target="_blank") here
      span !
