/*
    Why is everything so uniform?
    this is the CSS files for the art-container
    subwindow.
*/

@import 'mixins.less';

#arts-container {
    width: 100%;
    margin: 24px auto 0 auto;
}

.work-holder {
    display: inline-block;
    margin: 0px 0px -13px 0px;

    border-color: #364870;
    border-width: 11px;
    border-radius: 5px;
    border-style: solid;
    box-shadow: 0px 0px 0px 1px darkgrey;

    img {
        // margin: 10px;
        // border: 1px solid black;
        // box-shadow: 2px 2px 1pt darken(lightgrey, 20%);
    }
}

#screen {
    position: absolute;
    z-index: 5;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: rgba(40,40,40,0.7)
}

.display-case {
    text-align: center;
    margin-top: -150px;
}

.art-front-and-center {
    .filter(invert(1));
};

.bundle {
    background-color: rgba(0,0,0,0.9);
    border-top: solid rgba(41, 128, 185, 0.2) 2.5px;
    border-bottom: solid rgba(41, 128, 185, 0.2) 200px;
    border-radius: 2px;
    box-sizing: content-box;
    margin: auto;
    overflow-x: auto;
    overflow-y: hidden;
    padding-left: 200px;
    margin-left: -200px;
    white-space: nowrap;
    div.artwork:first-child {
        margin-left: 136px;
    }
    div.artwork:last-child {
        margin-right: 136px;
    }
    div.artwork {
        display: inline-block;
        margin-left: 40%;
        padding-top: 17px;
        padding-bottom: 17px;
    }
    img {
        border: solid black 1px;
        max-height: 580px;
    }
}
