/*
    Why is everything so uniform?
    this is the CSS files for the art-container
    subwindow.
*/

@import 'mixins.less';


@keyframes move {
 0% { 
   overflow-y: hidden;
 }
 100% {
   overflow-y: auto;
 }
}

.go > .slice {
    animation: move 2s;
    -webkit-animation: move 2s;
}

#arts-container {
    width: 1000px;
    margin: 136px auto;
}

.work-holder {
    display: inline-block;
    margin: 0px 0px -20px 0px;
    border-color: #8b6153;
    border-width: 20px;
    border-radius: 7px;
    border-style: solid;
    img {
        // margin: 10px;
        // border: 1px solid black;
        // box-shadow: 2px 2px 1pt darken(lightgrey, 20%);
    }
}

#screen {
    position: absolute;
    z-index: 5;
    left: 0%;
    top: 0%;
    width: 100%;
    background-color: rgba(40,40,40,0.7)
}

.display-case {
    text-align: center;
    margin-top: -150px;
}

.art-front-and-center {
    .filter(invert(1));
};

.bundle {
    width: 950px;
    margin: 20px auto 100px auto;
    padding: 10px;
    border-radius: 7px;
    position: relative;
    z-index: 10;
}
