html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.slice {
  color: #0c0910;
}
.slice:hover,
.slice:focus {
  color: #1d1c21;
}
#blogHeading {
  float: left;
}
/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/
#one {
  background-color: #00bfd7;
}
#two {
  background-color: #5bef2c;
}
#three {
  background-color: #f03735;
}
#four {
  background-color: #fae710;
}
.block {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 2s;
}
#one .block {
  background-color: black;
}
#two .block {
  background-color: black;
}
#three .block {
  background-color: black;
}
#four .block {
  background-color: black;
}
div#navbar .one h3 {
  color: #8e8e8e;
  transition: all 0.1s;
}
div#navbar .two h3 {
  color: #8e8e8e;
  transition: all 0.1s;
}
div#navbar .three h3 {
  color: #8e8e8e;
  transition: all 0.1s;
}
div#navbar .four h3 {
  color: #8e8e8e;
  transition: all 0.1s;
}
div#navbar .one h3:hover {
  color: #00bfd7;
  text-indent: 20pt;
}
div#navbar .two h3:hover {
  color: #5bef2c;
  text-indent: 20pt;
}
div#navbar .three h3:hover {
  color: #f03735;
  text-indent: 20pt;
}
div#navbar .four h3:hover {
  color: #fae710;
  text-indent: 20pt;
}
div#navbar h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
}
.slice {
  overflow: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
