html{height:100%;position:relative;}
body{height:100%;position:relative;overflow:hidden;}

@green: desaturate(lighten(spin(rgba(46, 204, 113, 1), -20), 15%), 0%);
@blue: desaturate(lighten(rgba(0, 191, 215, 1), 15%), 35%);
@red: rgba(231, 76, 60, 1);
@yellow: saturate(lighten(rgba(241, 196, 15, 1), 8%), 20%);
@whiteblue: rgb(255,255,255);
@whitegreen: rgb(255,255,255);


@firstcolor: @whiteblue;
@secondcolor: @whitegreen;
@thirdcolor: @whiteblue;
@fourthcolor: @whitegreen;
@firstcolornav: @green;
@secondcolornav: @blue;
@thirdcolornav: @red;
@fourthcolornav: @yellow;

a {
    &:hover, &:visited, &:active {
        text-decoration: none;
    }
    text-decoration: none;
}

.slice {
    color: #0c0910;
}

.slice:hover, .slice:focus {
    color: #1d1c21;
}

#blogHeading {
    float: left;
}

@haze: 0.1;
@hazeper: percentage(@haze);

/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/

#one {
    background-color: @firstcolor;
    // left: 0%;
}
#two {
    background-color: @secondcolor;
    // left: 25%;
}
#three {
    background-color: @thirdcolor;
    // left: 50%;
}
#four {
    background-color: @fourthcolor;
    // left: 75%;
}
.block {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: all 2s;
}
#one {
    .block {
        background-color: black;
    }
    // left: 0%;
}
#two {
    .block {
        background-color: black;
    }
    // left: 25%;
}
#three {
    .block {
        background-color: black;
    }
    // left: 50%;
}
#four {
    .block {
        background-color: black;
    }
    // left: 75%;
}

div#navbar {
    .normal(@color) {
        color: desaturate(@color, 100%);
    }
    .one h3 {.normal(@firstcolornav); transition: all 0.1s;}
    .two h3 {.normal(@secondcolornav); transition: all 0.1s;}
    .three h3 {.normal(@thirdcolornav); transition: all 0.1s;}
    .four h3 {.normal(@fourthcolornav); transition: all 0.1s;}
    .one h3:hover {color: darken(@firstcolornav, 0%); text-indent: 20pt;}
    .two h3:hover {color: darken(@secondcolornav, 0%); text-indent: 20pt;}
    .three h3:hover {color: darken(@thirdcolornav, 0%); text-indent: 20pt;}
    .four h3:hover {color: darken(@fourthcolornav, 0%); text-indent: 20pt;}
}


.slice {
    overflow: auto;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
