html{height:100%;position:relative;}
body{height:100%;position:relative;overflow:hidden;background-color: transparent;}

@firstcolor: rgba(41, 128, 185, 1);
@secondcolor: rgba(46, 204, 113, 1);
@thirdcolor: rgba(231, 76, 60, 1);
@fourthcolor: rgba(241, 196, 15, 1);

a {
    &:hover, &:visited, &:active {
        text-decoration: none;
    }
    text-decoration: none;
}

.slice {
    color: #0c0910;
}

.slice:hover, .slice:focus {
    color: #1d1c21;
}

#blogHeading {
    float: left;
}

#one {
    background-color: fadeout(@firstcolor, 30%);
    // left: 0%;
}
#two {
    background-color: fadeout(@secondcolor, 30%);
    // left: 25%;
}
#three {
    background-color: fadeout(@thirdcolor, 30%);
    // left: 50%;
}
#four {
    background-color: fadeout(@fourthcolor, 30%);
    // left: 75%;
}

div#navbar {
    .one h3 {color: white;}
    .two h3 {color: white;}
    .three h3 {color: white;}
    .four h3 {color: white;}
}


.slice {
    overflow: auto;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
