html{height:100%;position:relative;}
body{height:100%;position:relative;overflow:hidden;}

@firstcolor: rgba(125, 125, 125, 1);
@secondcolor: rgba(185, 185, 185, 1);
@thirdcolor: rgba(125, 125, 125, 1);
@fourthcolor: rgba(185, 185, 185, 1);
@firstcolornav: rgba(46, 204, 113, 1);
@secondcolornav: rgba(185, 185, 185, 1);
@thirdcolornav: rgba(231, 76, 60, 1);
@fourthcolornav: rgba(241, 196, 15, 1);

a {
    &:hover, &:visited, &:active {
        text-decoration: none;
    }
    text-decoration: none;
}

.slice {
    color: #0c0910;
}

.slice:hover, .slice:focus {
    color: #1d1c21;
}

#blogHeading {
    float: left;
}

@haze: 0.1;
@hazeper: percentage(@haze);

/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/

#one {
    background-color: fadeout(fadeout(@firstcolor, 30%), @hazeper);
    // left: 0%;
}
#two {
    background-color: fadeout(fadeout(@secondcolor, 30%), @hazeper);
    // left: 25%;
}
#three {
    background-color: fadeout(fadeout(@thirdcolor, 30%), @hazeper);
    // left: 50%;
}
#four {
    background-color: fadeout(fadeout(@fourthcolor, 30%), @hazeper);
    // left: 75%;
}
.block {
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0;
    z-index: 1000;
    -webkit-transition: all 2s;
}
#one {
    .block {
        background-color: black;
    }
    // left: 0%;
}
#two {
    .block {
        background-color: black;
    }
    // left: 25%;
}
#three {
    .block {
        background-color: black;
    }
    // left: 50%;
}
#four {
    .block {
        background-color: black;
    }
    // left: 75%;
}

div#navbar {
    .one h3 {color: @firstcolornav;}
    .two h3 {color: darken(@secondcolornav, 20%);}
    .three h3 {color: @thirdcolornav;}
    .four h3 {color: @fourthcolornav;}
}


.slice {
    overflow: auto;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
