html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.slice {
  color: #0c0910;
}
.slice:hover,
.slice:focus {
  color: #1d1c21;
}
#blogHeading {
  float: left;
}
/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/
#one {
  background-color: rgba(125, 125, 125, 0.6);
}
#two {
  background-color: rgba(185, 185, 185, 0.6);
}
#three {
  background-color: rgba(125, 125, 125, 0.6);
}
#four {
  background-color: rgba(185, 185, 185, 0.6);
}
.block {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 2s;
}
#one .block {
  background-color: black;
}
#two .block {
  background-color: black;
}
#three .block {
  background-color: black;
}
#four .block {
  background-color: black;
}
div#navbar .one h3 {
  color: #2ecc71;
}
div#navbar .two h3 {
  color: #868686;
}
div#navbar .three h3 {
  color: #e74c3c;
}
div#navbar .four h3 {
  color: #f1c40f;
}
.slice {
  overflow: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
