html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.slice {
  color: #0c0910;
}
.slice:hover,
.slice:focus {
  color: #1d1c21;
}
#blogHeading {
  float: left;
}
/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/
#one {
  background-color: #9cffff;
}
#one > .subwindow {
  background-color: #9cffff;
}
#two {
  background-color: #abff78;
}
#two > .subwindow {
  background-color: #abff78;
}
#three {
  background-color: #ff958f;
}
#three > .subwindow {
  background-color: #ff958f;
}
#four {
  background-color: #ffff6f;
}
#four > .subwindow {
  background-color: #ffff6f;
}
.block {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 2s;
}
#one .block {
  background-color: black;
}
#two .block {
  background-color: black;
}
#three .block {
  background-color: black;
}
#four .block {
  background-color: black;
}
div#navbar h3 {
  color: #8e8e8e;
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
div#navbar h3 > a {
  -o-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -webkit-transition: all 0.1s;
  transition: all 0.1s;
}
div#navbar h3.art:hover {
  text-indent: 20pt;
}
div#navbar h3.blog:hover {
  text-indent: 20pt;
}
div#navbar h3.other:hover {
  text-indent: 20pt;
}
div#navbar h3.code:hover {
  text-indent: 20pt;
}
div#navbar a.one > h3:hover {
  color: #9cffff;
}
div#navbar a.two > h3:hover {
  color: #abff78;
}
div#navbar a.three > h3:hover {
  color: #ff958f;
}
div#navbar a.four > h3:hover {
  color: #ffff6f;
}
div#navbar h3 {
  font-size: 18px;
  line-height: 20px;
  margin: 0;
  width: 70px;
}
.slice {
  overflow: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
