#blog-container > .container-fluid {
  height: 100%;
  padding: 0 175px;
}
#blog-container iframe {
  display: block;
  height: 100%;
  width: 100%;
}
#blog-container subwindow {
  overflow-y: hidden;
}
#blog-container {
  height: 100%;
}
