* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
#blog > .container-fluid {
  height: 100%;
  padding: 0 175px;
}
#blog iframe {
  overflow: hidden;
  height: 100%;
  width: 100%;
}
#four subwindow {
  overflow-y: hidden;
}
