#blog-container > .container-fluid {
    height:100%;
}

#blog-container .subwindow {
}

.subwindow > #blog-container {
    margin-top: 35px;
    font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

#warp #four {
    overflow-y: hidden;
}

#blog-container > .container-fluid > .container {
  padding-top: 29px;
}
