@green: #abff78;
@blue: #9cffff;
@red: #ff958f;
@yellow: #ffff6f;
@whiteblue: rgb(253,253,253);
@whitegreen: rgb(253,253,253);

@blueGrey: spin(@blue, 180);
@greenGrey: spin(@green, 180);
@redGrey: spin(@red, 180);
@yellowGrey: spin(@yellow, 180);

@firstcolor: mix(@blue, @blueGrey, 100%);
@secondcolor: mix(@green, @greenGrey, 100%);
@thirdcolor: mix(@red, @redGrey, 100%);
@fourthcolor: mix(@yellow, @yellowGrey, 100%);

@firstcolornav: @blue;
@secondcolornav: @green;
@thirdcolornav: @red;
@fourthcolornav: @yellow;
