@import 'art.css';
.mainbar {
  background-color: rgba(255, 255, 1, 0.25);
  position: absolute;
  top: 20%;
  left: -100%;
  width: 100%;
  height: 65%;
  transition: left 2s ease-in-out;
  -webkit-transition: left 2s ease-in-out;
  -mox-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
}
.mainbar.activated {
  left: 0%;
}
.silenter {
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.silenter .name {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.silenter .name span {
  font-size: 50px;
  line-height: 65px;
}
.silenter .navigation {
  color: #252824;
}
.silenter .navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
.cont {
  -webkit-transform: translateZ(0);
}
.container-fluid {
  padding: 0 160px;
}
*::webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.subones {
  display: table-cell;
}
.cont {
  height: 100%;
}
.subwindow {
  position: absolute;
}
#one .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(45deg) translateX(10%);
  -webkit-transform: skewX(45deg) translateX(10%);
  transform: skewX(45deg) translateX(10%);
}
#two .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(45deg) translateX(-30%);
  -webkit-transform: skewX(45deg) translateX(-30%);
  transform: skewX(45deg) translateX(-30%);
}
#three .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(45deg) translateX(-70%);
  -webkit-transform: skewX(45deg) translateX(-70%);
  transform: skewX(45deg) translateX(-70%);
}
#four .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(45deg) translateX(-110%);
  -webkit-transform: skewX(45deg) translateX(-110%);
  transform: skewX(45deg) translateX(-110%);
}
#row-fluid {
  width: 160%;
  height: 100%;
  margin-left: -10%;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(-45deg);
  -webkit-transform: skewX(-45deg);
  transform: skewX(-45deg);
  -webkit-transition: -webkit-transform 2s, margin-left 2s, width 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
#row-fluid > .slice {
  height: 100%;
  float: left;
  position: relative;
  -webkit-transition: -webkit-transform 2s, margin-left 2s, width 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
#row-fluid.go .slice > .subwindow {
  width: 100%;
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
}
#row-fluid.go {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg);
  -webkit-transform: skewX(0deg);
  transform: skewX(0deg);
  width: 400%;
}
#row-fluid.goone {
  margin-left: 0;
}
#row-fluid.gotwo {
  margin-left: -100%;
}
#row-fluid.gothree {
  margin-left: -200%;
}
#row-fluid.gofour {
  margin-left: -300%;
}
#row-fluid > #one {
  background-color: rgba(140, 140, 140, 0.65);
}
#row-fluid > #two {
  background-color: rgba(0, 191, 215, 0.65);
}
#row-fluid > #three {
  background-color: rgba(255, 255, 1, 0.65);
}
#row-fluid > #four {
  background-color: rgba(254, 0, 0, 0.65);
}
.slice {
  height: 100%;
  width: 24.99%;
  box-flex: 0;
  overflow: hidden;
}
.slice > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(45deg);
  -webkit-transform: skewX(45deg);
  transform: skewX(45deg);
  height: 100%;
  width: 250%;
  -webkit-transition: margin-left 2s, width 2s, -webkit-transform 2s;
  -o-transition: margin-left 2s, width 2s, transform 2s;
  -moz-transition: margin-left 2s, width 2s, transform 2s;
  transition: margin-left 2s, width 2s, transform 2s;
}
.slice img {
  margin: 15px;
}
div #row-fluid.go .left1 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(100%);
  -webkit-transform: skewX(0deg) translateX(100%);
  transform: skewX(0deg) translateX(100%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
div #row-fluid.go > .left2 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(200%);
  -webkit-transform: skewX(0deg) translateX(200%);
  transform: skewX(0deg) translateX(200%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
div #row-fluid.go > .left3 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(300%);
  -webkit-transform: skewX(0deg) translateX(300%);
  transform: skewX(0deg) translateX(300%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
div #row-fluid.go > .right1 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(-100%);
  -webkit-transform: skewX(0deg) translateX(-100%);
  transform: skewX(0deg) translateX(-100%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
div #row-fluid.go > .right2 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(-200%);
  -webkit-transform: skewX(0deg) translateX(-200%);
  transform: skewX(0deg) translateX(-200%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
div #row-fluid.go > .right3 > .subwindow {
  -ms-transform-origin: left top;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -ms-transform: skewX(0deg) translateX(-300%);
  -webkit-transform: skewX(0deg) translateX(-300%);
  transform: skewX(0deg) translateX(-300%);
  -webkit-transition: -webkit-transform 2s, width, 2s, margin-left 2s;
  -o-transition: transform 2s, margin-left 2s, width 2s;
  -moz-transition: transform 2s, margin-left 2s, width 2s;
  transition: transform 2s, margin-left 2s, width 2s;
}
