@import 'main.css';
html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
.slice {
  color: #0c0910;
}
.slice:hover,
.slice:focus {
  color: #1d1c21;
}
#blogHeading {
  float: left;
}
/*
.go {
    #one {
        background-color: fadeout(@firstcolor, 30%);
    }
    #two {
        background-color: fadeout(@secondcolor, 30%);
        // left: 25%;
    }
    #three {
        background-color: fadeout(@thirdcolor, 30%);
        // left: 50%;
    }
    #four {
        background-color: fadeout(@fourthcolor, 30%);
        // left: 75%;
    }
    .block {
        opacity: 0.0;
    }
}
*/
#one {
  background-color: #ffffff;
}
#two {
  background-color: #ffffff;
}
#three {
  background-color: #ffffff;
}
#four {
  background-color: #ffffff;
}
.block {
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  z-index: 1000;
  -webkit-transition: all 2s;
}
#one .block {
  background-color: black;
}
#two .block {
  background-color: black;
}
#three .block {
  background-color: black;
}
#four .block {
  background-color: black;
}
div#navbar .one h3 {
  color: #a3a3a3;
  transition: all 0.1s;
}
div#navbar .two h3 {
  color: #929292;
  transition: all 0.1s;
}
div#navbar .three h3 {
  color: #929292;
  transition: all 0.1s;
}
div#navbar .four h3 {
  color: #949494;
  transition: all 0.1s;
}
div#navbar .one h3:hover {
  color: #69dd74;
  text-indent: 20pt;
}
div#navbar .two h3:hover {
  color: #4bc9d9;
  text-indent: 20pt;
}
div#navbar .three h3:hover {
  color: #e74c3c;
  text-indent: 20pt;
}
div#navbar .four h3:hover {
  color: #ffd52a;
  text-indent: 20pt;
}
.slice {
  overflow: auto;
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
#navbar h3 {
  line-height: 24px;
}
#navbar .row-fluid [class*="span"] {
  margin-left: 2.9988888888888883%;
  min-height: 24px;
}
#navbar .row-fluid [class*="span"]:first-child {
  margin-left: 0%;
}
#navbar .span1 {
  width: 7.3%;
}
#navbar .span2 {
  width: 17.598888888888887%;
}
#navbar .span3 {
  width: 27.897777777777776%;
}
#navbar .span4 {
  width: 38.196666666666665%;
}
#navbar .span5 {
  width: 48.495555555555555%;
}
#navbar .span6 {
  width: 58.79444444444444%;
}
#navbar .span7 {
  width: 69.09333333333333%;
}
#navbar .span8 {
  width: 79.39222222222222%;
}
#navbar .span9 {
  width: 89.69111111111111%;
}
#navbar .span10 {
  width: 99.99%;
}
#navbar > .container-fluid {
  background-color: #FFF;
}
#navbar a {
  color: #25c2ac;
}
#navbar .container-fluid {
  margin: 10px 0;
  padding-right: 5px;
  padding-left: 10px;
}
#navbar {
  height: 100%;
  color: #951c2d;
  left: 0;
  margin: 10pt;
  min-width: 150pt;
  position: fixed;
  top: 0px;
  z-index: 5;
}
#navbar a[data-slice="#one"] {
  cursor: w-resize;
}
#navbar a[data-slice="#two"] {
  cursor: sw-resize;
}
#navbar a[data-slice="#three"] {
  cursor: s-resize;
}
#navbar a[data-slice="#four"] {
  cursor: se-resize;
}
#navbar > .container-fluid {
  border-radius: 2px;
}
#navbar a.logo {
  cursor: ew-resize;
}
#navbar span.logo {
  color: rgba(37, 194, 172, 0.5);
  display: block;
  float: right;
  font-size: 75pt;
  font-weight: 200;
  line-height: 75pt;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.075), 7px 1px 0 rgba(255, 127, 255, 0.5);
}
#navbar span.logo:hover,
#navbar span.logo:focus {
  text-decoration: none;
  color: rgba(116, 116, 116, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.075), 7px 1px 0 rgba(191, 191, 191, 0.5);
}
.navigation {
  color: #252824;
}
.navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
/*
    Why is everything so uniform?
    this is the CSS files for the art-container
    subwindow.
*/
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
#arts-container {
  width: 100%;
  margin: 0 auto;
}
.work-holder {
  display: inline-block;
  margin: 0px 0px -13px 0px;
  border-color: #364870;
  border-width: 11px;
  border-radius: 5px;
  border-style: solid;
  box-shadow: 0px 0px 0px 1px darkgrey;
}
#screen {
  position: absolute;
  z-index: 5;
  left: 0%;
  top: 0%;
  width: 100%;
}
.display-case {
  text-align: center;
  margin-top: -150px;
}
.art-front-and-center {
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.bundle {
  border-bottom: solid transparent 200px;
  border-radius: 2px;
  box-sizing: content-box;
  margin: auto;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}
.bundle div.artwork:first-child {
  margin-left: 175px;
}
.bundle div.artwork:last-child {
  margin-right: 175px;
}
.bundle div.artwork {
  cursor: pointer;
  display: inline-block;
  margin-left: 20%;
  padding-top: 17px;
  padding-bottom: 17px;
}
.bundle img {
  border: solid #8D8D8D 1px;
  max-height: 522px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
.artCenter {
  cursor: pointer;
}
#to {
  font-size: 55px;
  color: #f5851f;
}
#three > .subwindow > div {
  margin-top: 50px;
}
#others-container {
  line-height: 1.4;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}
#resume {
  font-size: 206px;
  color: #225a93;
}
#blog-container > .container-fluid {
  height: 100%;
  padding: 0 175px;
}
#blog-container iframe {
  display: block;
  height: 100%;
  width: 100%;
}
#blog-container subwindow {
  overflow-y: hidden;
}
#blog-container {
  height: 100%;
}
.subwindow > #blog-container {
  margin-top: 35px;
}
#warp #four {
  overflow-y: hidden;
}
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
h1 {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075);
}
* {
  padding: 0;
  margin: 0;
}
.container-fluid {
  margin: 0px 10px;
}
.slice:hover {
  box-shadow: inset 0 0 10px 0 rgba(255, 255, 255, 0.2);
}
.go .slice:hover {
  box-shadow: none;
}
#warp {
  position: relative;
  height: 100%;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transition: -webkit-transform 1.5s;
  -moz-transition: -moz-transform 1.5s;
  transition: transform 1.5s;
  -webkit-transform: translateZ(0) scaleX(2.4) skewX(-45deg) translateX(-2%);
  -moz-transform: translateZ(0) scaleX(2.4) skewX(-45deg) translateX(-2%);
  transform: translateZ(0) scaleX(2.4) skewX(-45deg) translateX(-2%);
}
#warp:not(.firefox) {
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  transition: transform 0.8s;
}
#warp > .slice {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 24.99999%;
  float: left;
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  -ms-transition: transform 0.8s;
  -o-transition: transform 0.8s;
  transition: transfrom 0.8s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.spacer {
  position: absolute;
  cursor: default;
  height: 300%;
  z-index: 10000;
  width: 0.2%;
  opacity: 0.8;
  background: #ccc;
  -webkit-transition: opacity 3s, -webkit-transform 0.8s;
  -moz-transition: opacity 3s, -moz-transform 0.8s;
  -ms-transition: opacity 3s, transform 0.8s;
  -o-transition: opacity 3s, transform 0.8s;
  transition: opacity 3s, transfrom 0.8s;
}
.spacer#afterOne {
  left: 24.9%;
}
.spacer#afterTwo {
  left: 49.9%;
}
.spacer#afterThree {
  left: 74.9%;
}
.subwindow {
  overflow-y: none;
  position: absolute;
  width: 400%;
  -webkit-transition: -webkit-transform 0.8s;
  -moz-transition: -moz-transform 0.8s;
  transition: transform 0.8s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.subwindow > div {
  margin-top: 10px;
}
.firefox .subwindow {
  transition: none;
  -webkit-transition: none;
  -moz-transition: none;
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
}
/* We care which slice we're in, because we have to translateX each subwindo back to the viewport a different amount. */#warp:not(.firefox) #one .subwindow {
  -webkit-transform: translateZ(0) translateX(2%) skewX(45deg) scaleX(0.4166666666666667);
  -moz-transform: translateZ(0) translateX(2%) skewX(45deg) scaleX(0.4166666666666667);
  transform: translateZ(0) translateX(2%) skewX(45deg) scaleX(0.4166666666666667);
}
#warp:not(.firefox) #two .subwindow {
  -webkit-transform: translateZ(0) translateX(-23%) skewX(45deg) scaleX(0.4166666666666667);
  -moz-transform: translateZ(0) translateX(-23%) skewX(45deg) scaleX(0.4166666666666667);
  transform: translateZ(0) translateX(-23%) skewX(45deg) scaleX(0.4166666666666667);
}
#warp:not(.firefox) #three .subwindow {
  -webkit-transform: translateZ(0) translateX(-48%) skewX(45deg) scaleX(0.4166366666666667);
  -moz-transform: translateZ(0) translateX(-48%) skewX(45deg) scaleX(0.4166366666666667);
  transform: translateZ(0) translateX(-48%) skewX(45deg) scaleX(0.4166366666666667);
}
#warp:not(.firefox) #four .subwindow {
  -webkit-transform: translateZ(0) translateX(-73%) skewX(45deg) scaleX(0.4166666666666667);
  -moz-transform: translateZ(0) translateX(-73%) skewX(45deg) scaleX(0.4166666666666667);
  transform: translateZ(0) translateX(-73%) skewX(45deg) scaleX(0.4166666666666667);
}
#warp.go.goone {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(0%);
  -moz-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(0%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(0%);
}
#warp.go.gotwo {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-25.05%);
  -moz-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-25.05%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-25.05%);
}
#warp.go.gothree {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-50.05%);
  -moz-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-50.05%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-50.05%);
}
#warp.go.gofour {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-75.05%);
  -moz-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-75.05%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-75.05%);
}
#warp.go:not(.firefox) #one .subwindow,
#warp.go:not(.firefox) #two .subwindow,
#warp.go:not(.firefox) #three .subwindow,
#warp.go:not(.firefox) #four .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
}
#warp.go > .slice {
  overflow-x: none;
}
#warp.go > .spacer {
  -webkit-transition: opacity 0.8s, -webkit-transform 0.8s;
  -moz-transition: opacity 0.8s, -moz-transform 0.8s;
  -ms-transition: opacity 0.8s, transform 0.8s;
  -o-transition: opacity 0.8s, transform 0.8s;
  transition: opacity 0.8s, transfrom 0.8s;
  opacity: 0;
}
#warp.go:not(.firefox) .left1 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(100%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(100%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(100%);
}
#warp.go:not(.firefox) .left2 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(200%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(200%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(200%);
}
#warp.go:not(.firefox) .left3 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(300%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(300%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(300%);
}
#warp.go:not(.firefox) .right1 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-100%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-100%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-100%);
}
#warp.go:not(.firefox) .right2 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-200%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-200%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-200%);
}
#warp.go:not(.firefox) .right3 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-300%);
  -moz-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-300%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-300%);
}
#warp.go .scrollEnabled {
  overflow-y: auto;
}
/*
@media screen and (max-aspect-ratio: 3/2) {
    @stretch: 2.2;
    @stretchPer: percentage(@stretch);
    @skewAngle: 35deg;
    @amount-to-right: 0%;
    @subwindow-offset: ((@amount-to-right)*-1);
    #warp {
        .transformtranslate((@amount-to-right),((-1)*@skewAngle), @stretch); //shift left, skew in the reverse of the variable, and stretch by 2
    }
    #one .subwindow {
        .transformtranslaterev((@subwindow-offset), @skewAngle, (1/@stretch));
    }

    #two .subwindow {
        .transformtranslaterev((@subwindow-offset) - 25%, @skewAngle, (1/@stretch));
    }

    #three .subwindow {
        .transformtranslaterev((@subwindow-offset) - 50%, @skewAngle, (1/@stretch));
    }

    #four .subwindow {
        .transformtranslaterev((@subwindow-offset) - 75%, @skewAngle, (1/@stretch));
    }
}
*/
@media screen and (max-aspect-ratio: 1/1) {
  #warp {
    -webkit-transform: translateZ(0) scaleX(2) skewX(-25deg) translateX(0%);
    -moz-transform: translateZ(0) scaleX(2) skewX(-25deg) translateX(0%);
    transform: translateZ(0) scaleX(2) skewX(-25deg) translateX(0%);
  }
  #one .subwindow {
    -webkit-transform: translateZ(0) translateX(0%) skewX(25deg) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(0%) skewX(25deg) scaleX(0.5);
    transform: translateZ(0) translateX(0%) skewX(25deg) scaleX(0.5);
  }
  #two .subwindow {
    -webkit-transform: translateZ(0) translateX(-25%) skewX(25deg) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(-25%) skewX(25deg) scaleX(0.5);
    transform: translateZ(0) translateX(-25%) skewX(25deg) scaleX(0.5);
  }
  #three .subwindow {
    -webkit-transform: translateZ(0) translateX(-50%) skewX(25deg) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(-50%) skewX(25deg) scaleX(0.5);
    transform: translateZ(0) translateX(-50%) skewX(25deg) scaleX(0.5);
  }
  #four .subwindow {
    -webkit-transform: translateZ(0) translateX(-75%) skewX(25deg) scaleX(0.5);
    -moz-transform: translateZ(0) translateX(-75%) skewX(25deg) scaleX(0.5);
    transform: translateZ(0) translateX(-75%) skewX(25deg) scaleX(0.5);
  }
}
.clearfix:after {
  content: " ";
  display: block;
  height: 0;
  clear: both;
}
