@import 'main.css';
html {
  height: 100%;
  position: relative;
}
body {
  height: 100%;
  position: relative;
  overflow: hidden;
  background-color: transparent;
}
#one {
  background-color: rgba(46, 204, 113, 0.4);
}
#two {
  background-color: rgba(41, 128, 185, 0.4);
}
#three {
  background-color: rgba(255, 255, 1, 0.1);
}
#four {
  background-color: rgba(254, 0, 0, 0.1);
}
* {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -o-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.silenter {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 5;
  margin: 0 20px;
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.silenter #logo {
  display: block;
  float: right;
  margin-top: 5px;
  font-size: 20px;
  font-weight: 200;
  text-shadow: 0 1px 0 green;
  line-height: 25px;
}
.silenter #logo:hover,
.silenter #logo:focus {
  text-decoration: none;
}
.navigation {
  color: #252824;
}
.navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
/*
    Why is everything so uniform?
    this is the CSS files for the art-container
    subwindow.
*/
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
#arts-container {
  width: 1000px;
  margin: 0 auto;
}
.work-holder {
  display: inline-block;
  margin: 0px 24px -20px 24px;
  border-right-color: rgba(10, 10, 10, 0.35);
  border-right-width: 20px;
  border-right-style: solid;
  border-left-color: rgba(10, 10, 10, 0.35);
  border-left-width: 20px;
  border-left-style: solid;
  border-top-color: rgba(10, 10, 10, 0.35);
  border-top-width: 20px;
  border-top-style: solid;
  border-bottom-color: rgba(10, 10, 10, 0.35);
  border-bottom-width: 20px;
  border-bottom-style: solid;
  border-radius: 7px;
}
#screen {
  position: absolute;
  z-index: 5;
  left: 0%;
  top: 0%;
  width: 100%;
  background-color: rgba(40, 40, 40, 0.7);
}
.display-case {
  text-align: center;
  margin-top: -150px;
}
.art-front-and-center {
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
}
.bundle {
  width: 950px;
  margin: 20px auto 100px auto;
  padding: 10px;
  border-radius: 7px;
  position: relative;
  z-index: 10;
}
#blog-container > .container-fluid {
  height: 100%;
  padding: 0 175px;
}
#blog-container iframe {
  display: block;
  height: 100%;
  width: 100%;
}
#blog-container subwindow {
  overflow-y: hidden;
}
#blog-container {
  height: 100%;
}
.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
.container-fluid {
  margin: 15px 10px;
}
#warp {
  overflow: visible;
  position: relative;
  height: 100%;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform: translateZ(0) scaleX(2) skewX(-30deg) translateX(-17%);
  transform: translateZ(0) scaleX(2) skewX(-30deg) translateX(-17%);
}
#warp > .slice {
  position: relative;
  overflow: hidden;
  height: 100%;
  width: 25%;
  float: left;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
  -webkit-transform: none;
  transform: none;
}
.subwindow {
  position: absolute;
  height: 100%;
  width: 400%;
  -webkit-transition: all 2s;
  transition: all 2s;
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
/* We care which slice we're in, because we have to translateX each subwindo back to the viewport a different amount. */#one .subwindow {
  -webkit-transform: translateZ(0) skewX(30deg) translateX(17%) scaleX(0.5);
  transform: translateZ(0) skewX(30deg) translateX(17%) scaleX(0.5);
}
#two .subwindow {
  -webkit-transform: translateZ(0) skewX(30deg) translateX(-8%) scaleX(0.5);
  transform: translateZ(0) skewX(30deg) translateX(-8%) scaleX(0.5);
}
#three .subwindow {
  -webkit-transform: translateZ(0) skewX(30deg) translateX(-33%) scaleX(0.5);
  transform: translateZ(0) skewX(30deg) translateX(-33%) scaleX(0.5);
}
#four .subwindow {
  -webkit-transform: translateZ(0) skewX(30deg) translateX(-58%) scaleX(0.5);
  transform: translateZ(0) skewX(30deg) translateX(-58%) scaleX(0.5);
}
#warp.go.goone {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(0%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(0%);
}
#warp.go.gotwo {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-25%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-25%);
}
#warp.go.gothree {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-50%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-50%);
}
#warp.go.gofour {
  -webkit-transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-75%);
  transform: translateZ(0) scaleX(4) skewX(0deg) translateX(-75%);
}
#warp.go .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(0%);
}
#warp.go .left1 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(100%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(100%);
}
#warp.go > .left2 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(200%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(200%);
}
#warp.go > .left3 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(300%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(300%);
}
#warp.go > .right1 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-100%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-100%);
}
#warp.go > .right2 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-200%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-200%);
}
#warp.go > .right3 > .subwindow {
  -webkit-transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-300%);
  transform: translateZ(0) scaleX(0.25) skewX(0deg) translateX(-300%);
}
