.transformskew(@deg) {
    // -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;
    // -ms-transform: skewX((@deg + 0deg)) translateZ(0);
    -webkit-transform: skewX((@deg + 0deg)) translateZ(0);
    transform: skewX((@deg + 0deg)) translateZ(0);
}

.filter(@string) {
    -webkit-filter: (@string);
    -ms-filter: (@string);
    -moz-filter: (@string);
    -o-filter: (@string);
    filter: (@string);
}

.transformtranslate(@amt, @deg, @scale) {
    // -ms-transform: translateZ(0) scaleX((@scale)) skewX((@deg + 0deg)) translateX((@amt + 0%));
    -webkit-transform: translateZ(0) scaleX((@scale)) skewX((@deg + 0deg)) translateX((@amt + 0%));
    -moz-transform: translateZ(0) scaleX((@scale)) skewX((@deg + 0deg)) translateX((@amt + 0%));
    transform: translateZ(0) scaleX((@scale)) skewX((@deg + 0deg)) translateX((@amt + 0%));
}

.transformtranslaterev(@amt, @deg, @scale) {
    // -ms-transform: translateZ(0) translateX((@amt + 0%)) skewX((@deg + 0deg)) scaleX((@scale));
    -webkit-transform: translateZ(0) translateX((@amt + 0%)) skewX((@deg + 0deg)) scaleX((@scale));
    -moz-transform: translateZ(0) translateX((@amt + 0%)) skewX((@deg + 0deg)) scaleX((@scale));
    transform: translateZ(0) translateX((@amt + 0%)) skewX((@deg + 0deg)) scaleX((@scale));
}

.transorig {
    // -ms-transform-origin: left top;
    -webkit-transform-origin: left top;
    transform-origin: left top;

   -webkit-backface-visibility: hidden;
   -moz-backface-visibility: hidden;
   -ms-backface-visibility: hidden;
   backface-visibility: hidden;

   -webkit-perspective: 1000;
   -moz-perspective: 1000;
   -ms-perspective: 1000;
   perspective: 1000;
}

.transition(@sec) {
    -webkit-transition: -webkit-transform (@sec);
    -webkit-transition: transform (@sec);
    // -o-transition: transform ((@sec) + 0s), margin-left ((@sec) + 0s), width ((@sec) + 0s);
    -moz-transition: -moz-transform ((@sec) + 0s);
    -moz-transition: transform ((@sec) + 0s);
    transition: -webkit-transform (@sec);
    transition: transform (@sec);
}
