@import 'mixins.less';
@import 'navbargrid.less';

//  #navbar h3 {
//      color: #dda56c;
//  }

@navColOne: rgb(37, 194, 172);
@navColTwo: rgb(255, 127, 255);

#navbar > .container-fluid {
    // margin: 0 450px;
}

#navbar a {
    color: #25c2ac;
}

#navbar .container-fluid {
    margin: 20px 0;
    padding-right: 5px;
    padding-left: 10px;
    // box-shadow: 0 1px 1px rgba(0,0,0,.3), 0 0 35px 2px rgba(0,0,0,.075);
}

.paddingStuff {
    margin: 10pt;
}

#navbar {
    background-color: #FBFFFC;
    height: 100%;
    color: #951c2d;
    width: 270px;
    font-family:'Open Sans','Helvetica Neue',Helvetica,Arial,sans-serif;
    left: 0;
    min-width: 150pt;
    position: fixed;
    top: 0px;
    z-index: 5;

    a[data-slice="#one"] {
        cursor: w-resize;
    }
    a[data-slice="#two"] {
        cursor: sw-resize;
    }
    a[data-slice="#three"] {
        cursor: s-resize;
    }
    a[data-slice="#four"] {
        cursor: se-resize;
    }

    > .container-fluid {
        border-radius: 2px; 
    }
    h3 {
        border-top: none;
        border-bottom: 1px solid rgb(244, 244, 244)
    }
    h3.blog, h3.art, h3.code, h3.other {
        font-weight: 400;
    }
}

#logoAnchor {
    cursor: ew-resize;
}

#logo {
    color: fade(@navColOne, 50%);
    display: block;
    float: right;
    font-size: 75pt;
    font-weight: 200;
    line-height: 75pt;
    text-shadow: 0 1px 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.075), 7px 1px 0 fade(@navColTwo, 50%);
    -webkit-transform: scale(1,1.14);
    transform: scale(1,1.14);
    &:hover,
    &:focus,
    &:active {
        text-decoration: none;
        color: fade(desaturate(@navColOne, 100%), 50%);
        text-shadow: 0 1px 1px rgba(0,0,0,.3), 0 0 10px rgba(0,0,0,.075), 7px 1px 0 fade(desaturate(@navColTwo, 100%), 50%);
    }
}

.navigation {
    color: hsl(105, 5%, 15%);
    a {
        color: hsl(105, 5%, 15%);
        font-size: 30px;
        line-height: 0px;
        padding: 0pt 3pt;
        text-decoration: none;
    }
}
