#navbar .row-fluid [class*="span"] {
  margin-left: 2.9988888888888883%;
}
#navbar .row-fluid [class*="span"]:first-child {
  margin-left: 0%;
}
#navbar .span1 {
  width: 7.3%;
}
#navbar .span2 {
  width: 17.598888888888887%;
}
#navbar .span3 {
  width: 27.897777777777776%;
}
#navbar .span4 {
  width: 38.196666666666665%;
}
#navbar .span5 {
  width: 48.495555555555555%;
}
#navbar .span6 {
  width: 58.79444444444444%;
}
#navbar .span7 {
  width: 69.09333333333333%;
}
#navbar .span8 {
  width: 79.39222222222222%;
}
#navbar .span9 {
  width: 89.69111111111111%;
}
#navbar .span10 {
  width: 99.99%;
}
