.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
#navbar h3 {
  line-height: 24px;
}
#navbar .row-fluid [class*="span"] {
  margin-left: 2.9988888888888883%;
  min-height: 24px;
}
#navbar .row-fluid [class*="span"]:first-child {
  margin-left: 0%;
}
#navbar .span1 {
  width: 7.3%;
}
#navbar .span2 {
  width: 17.598888888888887%;
}
#navbar .span3 {
  width: 27.897777777777776%;
}
#navbar .span4 {
  width: 38.196666666666665%;
}
#navbar .span5 {
  width: 48.495555555555555%;
}
#navbar .span6 {
  width: 58.79444444444444%;
}
#navbar .span7 {
  width: 69.09333333333333%;
}
#navbar .span8 {
  width: 79.39222222222222%;
}
#navbar .span9 {
  width: 89.69111111111111%;
}
#navbar .span10 {
  width: 99.99%;
}
#navbar > .container-fluid {
  background-color: #FFF;
}
#navbar a {
  color: #25c2ac;
}
#navbar .container-fluid {
  margin: 10px 0;
  padding-right: 5px;
  padding-left: 10px;
}
#navbar {
  height: 100%;
  color: #951c2d;
  left: 0;
  margin: 10pt;
  min-width: 150pt;
  position: fixed;
  top: 0px;
  z-index: 5;
}
#navbar a[data-slice="#one"] {
  cursor: w-resize;
}
#navbar a[data-slice="#two"] {
  cursor: sw-resize;
}
#navbar a[data-slice="#three"] {
  cursor: s-resize;
}
#navbar a[data-slice="#four"] {
  cursor: se-resize;
}
#navbar > .container-fluid {
  border-radius: 2px;
}
#navbar a.logo {
  cursor: ew-resize;
}
#navbar span.logo {
  color: rgba(37, 194, 172, 0.5);
  display: block;
  float: right;
  font-size: 75pt;
  font-weight: 200;
  line-height: 75pt;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.075), 7px 1px 0 rgba(255, 127, 255, 0.5);
}
#navbar span.logo:hover,
#navbar span.logo:focus {
  text-decoration: none;
  color: rgba(116, 116, 116, 0.5);
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3), 0 0 10px rgba(0, 0, 0, 0.075), 7px 1px 0 rgba(191, 191, 191, 0.5);
}
.navigation {
  color: #252824;
}
.navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
