@import 'mixins.less';

.silenter {
    position: fixed;
    color: #951c2d;
    left: 0;
    right: 0;
    z-index: 5;
    margin: 0 20px;
    .filter(invert(1));
    #logo {
        display: block;
        float: right;
        margin-top: 5px;
        font-size: 20px;
        font-weight: 200;
        text-shadow: 0 1px 0 green;
        line-height: 25px;
        &:hover,
        &:focus {
            text-decoration: none;
        }
    }
}
.navigation {
    color: hsl(105, 5%, 15%);
    a {
        color: hsl(105, 5%, 15%);
        font-size: 30px;
        line-height: 0px;
        padding: 0pt 3pt;
        text-decoration: none;
    }
}
