.mainbar {
  background-color: rgba(255, 255, 1, 0.25);
  position: absolute;
  top: 20%;
  left: -100%;
  width: 100%;
  height: 65%;
  transition: left 2s ease-in-out;
  -webkit-transition: left 2s ease-in-out;
  -mox-transition: left 2s ease-in-out;
  -o-transition: left 2s ease-in-out;
}
.mainbar.activated {
  left: 0%;
}
.silenter {
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  position: absolute;
  z-index: 100;
  text-align: center;
  left: 0;
  right: 0;
}
.silenter .name {
  width: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}
.silenter .name span {
  font-size: 50px;
  line-height: 65px;
}
.silenter .navigation {
  color: #252824;
}
.silenter .navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
