.transorig {
  -webkit-transform-origin: left top;
  transform-origin: left top;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-perspective: 1000;
  -moz-perspective: 1000;
  -ms-perspective: 1000;
  perspective: 1000;
}
#navbar h3 {
  line-height: 24px;
}
#navbar .row-fluid [class*="span"] {
  margin-left: 2.9988888888888883%;
  min-height: 24px;
}
#navbar .row-fluid [class*="span"]:first-child {
  margin-left: 0%;
}
#navbar .span1 {
  width: 7.3%;
}
#navbar .span2 {
  width: 17.598888888888887%;
}
#navbar .span3 {
  width: 27.897777777777776%;
}
#navbar .span4 {
  width: 38.196666666666665%;
}
#navbar .span5 {
  width: 48.495555555555555%;
}
#navbar .span6 {
  width: 58.79444444444444%;
}
#navbar .span7 {
  width: 69.09333333333333%;
}
#navbar .span8 {
  width: 79.39222222222222%;
}
#navbar .span9 {
  width: 89.69111111111111%;
}
#navbar .span10 {
  width: 99.99%;
}
#navbar > .container-fluid {
  background-color: rgba(255, 255, 255, 0.5);
  margin: 0 450px;
}
#navbar a {
  color: #951c2d;
}
#navbar {
  color: #951c2d;
  left: 0;
  margin: 0 20px;
  position: fixed;
  right: 0;
  -ms-transition: margin 1.5s;
  -moz-transition: margin 1.5s;
  -webkit-transition: margin 1.5s;
  transition: margin 1.5s;
  z-index: 5;
}
#navbar a[data-slice="#one"] {
  cursor: w-resize;
}
#navbar a[data-slice="#two"] {
  cursor: sw-resize;
}
#navbar a[data-slice="#three"] {
  cursor: s-resize;
}
#navbar a[data-slice="#four"] {
  cursor: se-resize;
}
#navbar.raise {
  margin: 0 20px;
}
#navbar.raise > .container-fluid {
  margin: 0 450px;
}
#navbar > .container-fluid {
  -ms-transition: margin 1.5s;
  -moz-transition: margin 1.5s;
  -webkit-transition: margin 1.5s;
  transition: margin 1.5s;
}
#navbar a.logo {
  cursor: ew-resize;
}
#navbar span.logo {
  -webkit-filter: invert(1);
  -ms-filter: invert(1);
  -moz-filter: invert(1);
  -o-filter: invert(1);
  filter: invert(1);
  display: block;
  float: right;
  font-size: 18px;
  font-weight: 200;
  line-height: 24px;
  text-shadow: 0 1px 0 green;
}
#navbar span.logo:hover,
#navbar span.logo:focus {
  text-decoration: none;
}
.navigation {
  color: #252824;
}
.navigation a {
  color: #252824;
  font-size: 30px;
  line-height: 0px;
  padding: 0pt 3pt;
  text-decoration: none;
}
