.subwindow > #others-container {
  margin-top: 75px;
}
#arts-container h1,
#others-container h1,
#code-container h1,
#arts-container h2,
#others-container h2,
#code-container h2,
#arts-container h3,
#others-container h3,
#code-container h3,
#arts-container h4,
#others-container h4,
#code-container h4,
#arts-container h5,
#others-container h5,
#code-container h5,
#arts-container h6,
#others-container h6,
#code-container h6 {
  border-top: none;
  border-bottom: none;
}
#others-container {
  line-height: 1.4;
}
#others-container h1 {
  font-weight: 800;
}
#others-container h2 {
  font-weight: 400;
}
#others-container #resume {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: rgba(37, 194, 172, 0.3);
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 0 30px rgba(0, 0, 0, 0.075), 2px 0 #505050;
}
#others-container .container-fluid {
  font-size: 14px;
  line-height: 1.45;
  background: lightgray;
}
#others-container .container-fluid:last-child {
  padding: 2px 10px 50px;
}
#others-container p {
  background: white;
  padding: 2px 10px;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: auto;
}
#resume {
  font-size: 100px;
  color: #225a93;
}
