#three > .subwindow > div {
  margin-top: 81px;
}
#others-container {
  line-height: 1.4;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: default;
}
#resume {
  font-size: 206px;
  color: #225a93;
}
