#three > .subwindow > div {
  margin-top: 0px;
}
#others-container {
  line-height: 2;
}
a:-webkit-any-link {
  text-decoration: none;
  cursor: default;
}
#resume {
  font-size: 206px;
  color: ##225a93;
}
